body {
    font-family: Verdana, sans-serif;
    color: #4a4a4a;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Header */

#top {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#top figure {
    display: flex;
    align-items: center;
    margin: 0 0 0 1.5rem;
}

#top img {
    height: 2.5rem;
}

span {
    font-weight: normal;
    color: darkgrey;
}

#top nav {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

#top ul {
    display: flex;
    list-style: none;
}

#top li {
    padding-left: 1rem;
}

#top a {
    color: inherit;
}

/* Banner */

section.banner {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #d7d7d7;
}

.banner img {
    width: 60%;
    margin: 2rem 3rem 2rem 1.5rem;
}

.banner article {
    padding-right: 1.5rem;
}

.banner h1 {
    font-size: 2em;
    margin: 0;
}

.banner h4 {
    margin-bottom: 2rem;
}

.button {
    text-align: center;
    color: white;
    background-color: #4a4a4a;
    padding: 0.5rem 0;
}