body {
    font-family: 'Noto Sans', sans-serif;
    color: #4a4a4a;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

ul {
    display: flex;
}

li {
    padding-left: 1rem;
}

/* Header */

header#top {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
}

header#top figure {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

#top img {
    height: 3rem;
}

#top h3 {
    font-weight: 800;
}

span {
    font-weight: normal;
    color: #c3c3c3;
}

/* Banner */

section.banner {
    display: flex;
    background-color: #c3c3c3;
}

.banner img {
    max-width: 100%;
    width: 60%;
    padding: 2rem 1.5rem;
}

.banner article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5rem;
    max-width: 22rem;
}

.banner h1 {
    margin: 0;
    font-size: 2.5rem;
}

.banner h4 {
    margin: 1rem 0 2rem;
    font-size: 1.25rem;
}

.button {
    padding: 0.5rem 0;
    text-align: center;
    color: white;
    background-color: #4a4a4a;
}