body {
    font-family: 'Montserrat', sans-serif;
    color: #666;
    box-sizing: border-box;
}

.browser {
    display: none;
}

.mobile {
    display: block;
}

/* Header */

header#top {
    height: 4rem;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}

/* Banner */

section#banner {
    background-color: #ccd3ed;
    text-align: center;
}

figure.left {
    margin: 0;
}

img {
    width: 100%;
}

article.right {
    padding: 1rem 1rem 2rem;
}

h1 {
    margin: 1rem 0;
    font-size: 1.7rem;
}

h4 {
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin: 1rem 0 0;
}

.button {
    margin-top: 1.5rem;
    padding: 0.5rem 0;
    text-align: center;
    color: white;
    background-color: #666;
    font-weight: 500;
}

/* On Campus */

section#campus {
    background-color: #efefef;
    border-bottom: solid #ccd3ed thin;
}

article.right {
    padding: 1rem 1rem 2rem;
    border-bottom: solid #ccd3ed thin;
}

.info-cta {
    margin: 1rem;
}

p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

a {
    font-size: 0.9rem;
    color: #45a1ff;
    font-weight: 600;
}

/* Online */

section#online {
    background-color: #efefef;
    padding-bottom: 2rem;
    border-bottom: solid #ccd3ed thin;
}

.title {
    margin: 0;
    padding: 2rem 0 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.mobile h4 {
    margin: 0.5rem 1rem;
    text-align: center;
    background-color: #ccd3ed;
    padding: 1rem;
}

.mobile a {
    color: #666;
}

/* Thesis */

section#thesis {
    background-color: #efefef;
    border-bottom: solid #ccd3ed thin;
}

video {
    width: 100%;
    padding-bottom: 1.5rem;
}

/* Footer */

footer {
    background-color: #efefef;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
}

footer ul {
    margin: 0;
    justify-content: center;
    padding-bottom: 1rem;
}

footer li {
    padding: 0 0.5rem;
}

footer a {
    font-size: 0.8rem;
    font-weight: normal;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    header#top.browser {
        display: block;
    }

    nav.mobile {
        display: none;
    }

    header#top {
        flex-direction: row;
        justify-content: space-between;
    }

    #top figure {
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
    }
    
    #top img {
        height: 3rem;
    }
    
    #top h3 {
        font-weight: 800;
    }
    
    span {
        font-weight: normal;
        color: #c3c3c3;
    }

    nav.browser {
        display: flex;
        margin-right: 1.5rem;
    }

    #top a {
        padding-left: 2rem;
        color: #666;
    }

    #campus article.right {
        text-align: center;
    }
}

@media only screen and (min-width: 896px) {
    .mobile {
        display: none;
    }

    .browser {
        display: block;
    }

    #thesis article.right.browser {
        display: none;
    }

    section#banner,
    section#campus
    .left,
    .right,
    .class-lg-cta {
        display: flex;
    }

    section#banner {
        text-align: revert;
    }

    .left {
        flex-direction: column;
        max-width: 60%;
        padding: 2rem 1.5rem;
        border-right: solid #ccd3ed thin;
    }

    .right {
        max-width: 40%;
        flex-direction: column;
    }

    .button {
        max-width: 100%;
    }

    #banner article {
        justify-content: center;
    }

    h1 {
        margin: 0;
    }

    article.left.browser {
        max-width: 100%;
        text-align: center;
    }

    #campus article.right {
        flex-direction: row;
        max-width: 100%;
        justify-content: space-evenly;
    }

    .info {
        max-width: 30%;
    }

    section#online {
        background-color: #ccd3ed;
    }

    .class-lg-cta {
        flex-wrap: wrap;
        margin: 0 2.5rem;
        justify-content: center;
    }

    article.class-cta {
        max-width: 20rem;
        background-color: white;
        margin: 2rem;
    }

    .class-info {
        padding: 1rem 1rem 1.5rem;
    }

    .class-info h4 {
        margin: 0;
    }

    .title {
        padding: 2rem 0 0;
    }

    #thesis article.left {
        max-width: 100%;
        text-align: center;
    }

    .thesis-cta.left h4 {
        margin: 1rem 0;
    }
}

@media only screen and (min-width: 1007px) {
    #thesis article.right.browser {
        display: block;
    }

    article.right {
        border: none;
    }

    #banner article.right {
        margin-left: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    #thesis a {
        color: #666;
        font-weight: normal;
    }

    .fill {
        background-color: #ccd3ed;
    }

    section#campus,
    .thesis-cta {
        display: flex;
        text-align: revert;
    }

    article.left.browser,
    #thesis article.left {
        max-width: 60%;
        text-align: revert;
    }

    .info {
        display: flex;
        border-bottom: solid #ccd3ed;
        max-width: 100%;
    }

    .info img {
        max-width: 35%;
        margin: 1rem;
    }

    .info-cta {
        max-width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info-cta h4 {
        margin: 0;
        font-size: 0.98rem;
    }
    
    .info-cta p {
        margin: 0.5rem 0;
    }

    #thesis .info {
        margin-top: 1rem;
    }

    #campus article.right {
        flex-direction: column;
        max-width: 100%;
        justify-content: space-between;
        text-align: revert;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer nav {
        display: flex;
        align-items: end;
    }
}

@media only screen and (min-width: 1080px) {
    h1 {
        font-size: 2.3rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    .info-cta h4 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }

    .title,
    h2 {
        font-size: 1.7rem;
    }
}
